<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"   >
<head>
    <meta charset="UTF-8">
    <title>MyProfile</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <h1>My Profile</h1> <!-- This will display the current page title -->
        <div class="nav-buttons">
            <a href="/users/profile">Profile</a>
            <a href="/movies">Movies</a>
            <a href="#">Stock Market</a> <!-- Placeholder for future functionality -->
        </div>
    </header>
    <div id="profileInfo"></div>
    <div sec:authorize="isAuthenticated()">
        <p><a th:href="@{/logout}">Log Out</a></p>
    </div>
</body>
<script th:inline="javascript">
    let name = /*[[${profileInfo.get('name')}]]*/ 'default'
    let email = /*[[${profileInfo.get('email')}]]*/ 'default'
    let profileDiv = document.getElementById("profileInfo")
    let nameH4 = document.createElement("h4")
    nameH4.innerText = name
    profileDiv.appendChild(nameH4)
    let emailH4 = document.createElement("h4")
    emailH4.innerText = email
    profileDiv.appendChild(emailH4)
</script>
</html>